In [1]:
# Initial imports
import pandas as pd

import numpy as np
import datetime as dt
import seaborn as sns

from pathlib import Path

In [5]:
%matplotlib inline

In [7]:
#Data Cleaning
#In this section, you will need to read the CSV files into DataFrames and perform any necessary data cleaning steps. After cleaning, combine all DataFrames into a single DataFrame.

#Files:upload all listed entities for Possible SMA's#
Life360returns_csv = Path("Life360daily.csv")


Life360returns_df = pd.read_csv(Life360returns_csv)
Life360returns_df.head()


#All Returns
#Read the all portfolio daily returns and clean the data.

                 Date  Close
0  5/10/2019 16:00:00   5.27
1  5/13/2019 16:00:00   5.07
2  5/14/2019 16:00:00   4.97
3  5/15/2019 16:00:00   4.93
4  5/16/2019 16:00:00   4.75

In [8]:


A2Mreturns_csv = Path("A2Mdaily.csv")


A2Mreturns_df = pd.read_csv(A2Mreturns_csv)
A2Mreturns_df.head()

              Date   A2M
0  1/02/2018 16:00  7.50
1  1/03/2018 16:00  7.43
2  1/04/2018 16:00  7.50
3  1/05/2018 16:00  7.55
4  1/08/2018 16:00  7.68

In [9]:
ANZreturns_csv = Path("ANZdaily.csv")


ANZreturns_df = pd.read_csv(ANZreturns_csv)
ANZreturns_df.head()

              Date    ANZ
0  1/02/2018 16:00  28.58
1  1/03/2018 16:00  28.59
2  1/04/2018 16:00  28.52
3  1/05/2018 16:00  28.75
4  1/08/2018 16:00  28.83

In [11]:
ALDreturns_csv = Path("ALDdaily.csv")


ALDreturns_df = pd.read_csv(ALDreturns_csv)
ALDreturns_df.head()

              Date    ALD
0  1/02/2018 16:00  34.20
1  1/03/2018 16:00  34.31
2  1/04/2018 16:00  34.48
3  1/05/2018 16:00  34.55
4  1/08/2018 16:00  34.42

In [10]:
# Count nulls
A2Mreturns_df.isnull().sum()

Date    0
A2M     0
dtype: int64

In [12]:
AMCreturns_csv = Path("AMCdaily.csv")


AMCreturns_df = pd.read_csv(AMCreturns_csv)
AMCreturns_df.head()

              Date    AMC
0  1/02/2018 16:00  15.31
1  1/03/2018 16:00  15.24
2  1/04/2018 16:00  15.29
3  1/05/2018 16:00  15.23
4  1/08/2018 16:00  15.26

In [13]:
ANNreturns_csv = Path("ANNdaily.csv")


ANNreturns_df = pd.read_csv(ANNreturns_csv)
ANNreturns_df.head()

              Date    ANN
0  1/02/2018 16:00  24.13
1  1/03/2018 16:00  23.80
2  1/04/2018 16:00  24.25
3  1/05/2018 16:00  24.22
4  1/08/2018 16:00  24.31

In [14]:
APAreturns_csv = Path("APAdaily.csv")


APAreturns_df = pd.read_csv(APAreturns_csv)
APAreturns_df.head()

              Date   APA
0  1/02/2018 16:00  8.38
1  1/03/2018 16:00  8.36
2  1/04/2018 16:00  8.27
3  1/05/2018 16:00  8.22
4  1/08/2018 16:00  8.27

In [15]:
BXBreturns_csv = Path("BXBdaily.csv")


BXBreturns_df = pd.read_csv(BXBreturns_csv)
BXBreturns_df.head()

              Date    BXB
0  1/02/2018 16:00   9.97
1  1/03/2018 16:00   9.93
2  1/04/2018 16:00   9.88
3  1/05/2018 16:00   9.98
4  1/08/2018 16:00  10.03

In [16]:
CHCreturns_csv = Path("CHCdaily.csv")


CHCreturns_df = pd.read_csv(CHCreturns_csv)
CHCreturns_df.head()

              Date   CHC
0  1/02/2018 16:00  6.04
1  1/03/2018 16:00  6.03
2  1/04/2018 16:00  6.05
3  1/05/2018 16:00  6.09
4  1/08/2018 16:00  6.14

In [17]:
COLreturns_csv = Path("COLdaily.csv")


COLreturns_df = pd.read_csv(COLreturns_csv)
COLreturns_df.head()

                  Date  Close
0  11/21/2018 16:00:00  12.75
1  11/22/2018 16:00:00  12.75
2  11/23/2018 16:00:00  12.84
3  11/26/2018 16:00:00  13.11
4  11/27/2018 16:00:00  12.89

In [18]:
CSLreturns_csv = Path("CSLdaily.csv")


CSLreturns_df = pd.read_csv(CSLreturns_csv)
CSLreturns_df.head()

                Date   Close
0  1/2/2018 16:00:00  140.55
1  1/3/2018 16:00:00  139.42
2  1/4/2018 16:00:00  141.55
3  1/5/2018 16:00:00  142.70
4  1/8/2018 16:00:00  143.30

In [19]:
EX20returns_csv = Path("EX20daily.csv")


EX20returns_df = pd.read_csv(EX20returns_csv)
EX20returns_df.head()

                Date  Close
0  1/2/2018 16:00:00  17.46
1  1/3/2018 16:00:00  17.45
2  1/4/2018 16:00:00  17.51
3  1/8/2018 16:00:00  17.65
4  1/9/2018 16:00:00  17.60

In [20]:
PEXAreturns_csv = Path("PEXAdaily.csv")


PEXAreturns_df = pd.read_csv(PEXAreturns_csv)
PEXAreturns_df.head()

                Date  Close
0  7/1/2021 16:00:00  17.15
1  7/2/2021 16:00:00  17.60
2  7/5/2021 16:00:00  18.00
3  7/6/2021 16:00:00  18.17
4  7/7/2021 16:00:00  18.00

In [21]:
QANreturns_csv = Path("QANdaily.csv")


QANreturns_df = pd.read_csv(QANreturns_csv)
QANreturns_df.head()

                Date  Close
0  1/2/2018 16:00:00   5.05
1  1/3/2018 16:00:00   5.00
2  1/4/2018 16:00:00   4.86
3  1/5/2018 16:00:00   4.89
4  1/8/2018 16:00:00   5.04

In [22]:
RMDreturns_csv = Path("RMDdaily.csv")


RMDreturns_df = pd.read_csv(RMDreturns_csv)
RMDreturns_df.head()

                Date  Close
0  1/2/2018 16:00:00  10.83
1  1/3/2018 16:00:00  10.90
2  1/4/2018 16:00:00  11.01
3  1/5/2018 16:00:00  10.99
4  1/8/2018 16:00:00  11.15

In [23]:
SQ2returns_csv = Path("SQ2daily.csv")


SQ2returns_df = pd.read_csv(SQ2returns_csv)
SQ2returns_df.head()

                 Date   Close
0  1/20/2022 16:00:00  176.63
1  1/21/2022 16:00:00  172.50
2  1/24/2022 16:00:00  166.25
3  1/25/2022 16:00:00  159.25
4  1/27/2022 16:00:00  150.73

In [24]:
TLSreturns_csv = Path("TLSdaily.csv")


TLSreturns_df = pd.read_csv(TLSreturns_csv)
TLSreturns_df.head()

                Date  Close
0  1/2/2018 16:00:00   3.66
1  1/3/2018 16:00:00   3.66
2  1/4/2018 16:00:00   3.68
3  1/5/2018 16:00:00   3.73
4  1/8/2018 16:00:00   3.75

In [25]:
VCXreturns_csv = Path("VCXdaily.csv")


VCXreturns_df = pd.read_csv(VCXreturns_csv)
VCXreturns_df.head()

                Date  Close
0  1/2/2018 16:00:00   2.70
1  1/3/2018 16:00:00   2.73
2  1/4/2018 16:00:00   2.70
3  1/5/2018 16:00:00   2.69
4  1/8/2018 16:00:00   2.71

In [26]:
VHYreturns_csv = Path("VHYdaily.csv")


VHYreturns_df = pd.read_csv(VHYreturns_csv)
VHYreturns_df.head()

                Date  Close
0  1/2/2018 16:00:00  61.42
1  1/3/2018 16:00:00  61.54
2  1/4/2018 16:00:00  61.49
3  1/5/2018 16:00:00  62.12
4  1/8/2018 16:00:00  62.15

In [27]:
WESreturns_csv = Path("WESdaily.csv")


WESreturns_df = pd.read_csv(WESreturns_csv)
WESreturns_df.head()

                Date  Close
0  1/2/2018 16:00:00  31.91
1  1/3/2018 16:00:00  31.88
2  1/4/2018 16:00:00  31.76
3  1/5/2018 16:00:00  31.97
4  1/8/2018 16:00:00  31.97

In [ ]:
RMDreturns_csv = Path("RMDdaily.csv")


RMDreturns_df = pd.read_csv(RMDreturns_csv)
RMDreturns_df.head()

In [ ]:
RMDreturns_csv = Path("RMDdaily.csv")


RMDreturns_df = pd.read_csv(RMDreturns_csv)
RMDreturns_df.head()

In [34]:
# Join all Australian share holdings including ETF into single dataframe with columns for each holdings returns. 
Australia_df = pd.concat([Life360returns_df, A2Mreturns_df, ANZreturns_df, ALDreturns_df, AMCreturns_df, ANNreturns_df, APAreturns_df, BXBreturns_df, CHCreturns_df, COLreturns_df, CSLreturns_df, EX20returns_df, PEXAreturns_df, QANreturns_df, RMDreturns_df, SQ2returns_df, TLSreturns_df, VCXreturns_df, VHYreturns_df, WESreturns_df], axis = "columns", join = "inner")
Australia_df.tail()

,Date,Close,Date,A2M,Date,ANZ,Date,ALD,Date,AMC,...,Date,Close,Date,Close,Date,Close,Date,Close,Date,Close
26,6/18/2019 16:00:00,3.74,2/08/2018 16:00,8.21,2/08/2018 16:00,27.99,2/08/2018 16:00,34.14,2/08/2018 16:00,14.76,...,2/28/2022 16:00:00,155.30,2/8/2018 16:00:00,3.56,2/8/2018 16:00:00,2.60,2/8/2018 16:00:00,59.11,2/8/2018 16:00:00,29.43
27,6/19/2019 16:00:00,3.68,2/09/2018 16:00,8.14,2/09/2018 16:00,27.89,2/09/2018 16:00,34.08,2/09/2018 16:00,14.30,...,3/01/2022 16:00,175.16,2/9/2018 16:00:00,3.49,2/9/2018 16:00:00,2.59,2/9/2018 16:00:00,58.58,2/9/2018 16:00:00,29.25
28,6/20/2019 16:00:00,3.77,2/12/2018 16:00,8.23,2/12/2018 16:00,27.70,2/12/2018 16:00,33.64,2/12/2018 16:00,14.38,...,3/02/2022 16:00,173.86,2/12/2018 16:00:00,3.45,2/12/2018 16:00:00,2.57,2/12/2018 16:00:00,58.29,2/12/2018 16:00:00,29.14
29,6/24/2019 16:00:00,3.77,2/13/2018 16:00:00,8.37,2/13/2018 16:00:00,27.72,2/13/2018 16:00:00,33.70,2/13/2018 16:00:00,14.55,...,3/03/2022 16:00,168.50,2/13/2018 16:00:00,3.48,2/13/2018 16:00:00,2.60,2/13/2018 16:00:00,58.42,2/13/2018 16:00:00,29.16
30,6/25/2019 16:00:00,3.85,2/14/2018 16:00:00,8.31,2/14/2018 16:00:00,27.64,2/14/2018 16:00:00,33.52,2/14/2018 16:00:00,14.21,...,3/04/2022 16:00,152.95,2/14/2018 16:00:00,3.43,2/14/2018 16:00:00,2.56,2/14/2018 16:00:00,58.27,2/14/2018 16:00:00,29.09

In [37]:
# Drop nulls
Australia_df = Australia_df.dropna()
Australia_df.tail()

,Date,Close,Date,A2M,Date,ANZ,Date,ALD,Date,AMC,...,Date,Close,Date,Close,Date,Close,Date,Close,Date,Close
26,6/18/2019 16:00:00,3.74,2/08/2018 16:00,8.21,2/08/2018 16:00,27.99,2/08/2018 16:00,34.14,2/08/2018 16:00,14.76,...,2/28/2022 16:00:00,155.30,2/8/2018 16:00:00,3.56,2/8/2018 16:00:00,2.60,2/8/2018 16:00:00,59.11,2/8/2018 16:00:00,29.43
27,6/19/2019 16:00:00,3.68,2/09/2018 16:00,8.14,2/09/2018 16:00,27.89,2/09/2018 16:00,34.08,2/09/2018 16:00,14.30,...,3/01/2022 16:00,175.16,2/9/2018 16:00:00,3.49,2/9/2018 16:00:00,2.59,2/9/2018 16:00:00,58.58,2/9/2018 16:00:00,29.25
28,6/20/2019 16:00:00,3.77,2/12/2018 16:00,8.23,2/12/2018 16:00,27.70,2/12/2018 16:00,33.64,2/12/2018 16:00,14.38,...,3/02/2022 16:00,173.86,2/12/2018 16:00:00,3.45,2/12/2018 16:00:00,2.57,2/12/2018 16:00:00,58.29,2/12/2018 16:00:00,29.14
29,6/24/2019 16:00:00,3.77,2/13/2018 16:00:00,8.37,2/13/2018 16:00:00,27.72,2/13/2018 16:00:00,33.70,2/13/2018 16:00:00,14.55,...,3/03/2022 16:00,168.50,2/13/2018 16:00:00,3.48,2/13/2018 16:00:00,2.60,2/13/2018 16:00:00,58.42,2/13/2018 16:00:00,29.16
30,6/25/2019 16:00:00,3.85,2/14/2018 16:00:00,8.31,2/14/2018 16:00:00,27.64,2/14/2018 16:00:00,33.52,2/14/2018 16:00:00,14.21,...,3/04/2022 16:00,152.95,2/14/2018 16:00:00,3.43,2/14/2018 16:00:00,2.56,2/14/2018 16:00:00,58.27,2/14/2018 16:00:00,29.09

In [ ]:
RMDreturns_csv = Path("RMDdaily.csv")


RMDreturns_df = pd.read_csv(RMDreturns_csv)
RMDreturns_df.head()

In [ ]:
# Join Whale Returns, Algorithmic Returns, and the S&P TSX 60 Returns into a single DataFrame with columns for each portfolio's returns.
combined_df = pd.concat([Life360returns_df, A2Mreturns_df, sp_tsx_history], axis = "columns", join = "inner")
combined_df.head()

In [ ]:
all_portfolios = pd.concat([algo_returns, whale_returns, sp_tsx_history], axis = "columns", join = "inner")
all_portfolios.head()

In [ ]:
# Plot daily returns of all portfolios
combined_df.plot(subplots=True,figsize=(20, 10), title="Daily Returns",sharey=True)

In [ ]:
# Calculate cumulative returns of all portfolios
# Calculate cumulative returns of all portfolios
cumulative_returns = (1 + combined_df).cumprod()

In [ ]:
figure(figsize=(35, 25))
# Plot cumulative returns
cumulative_returns.plot(figsize=(20, 10), title="Cumulative Returns")

In [ ]:
combined_df.plot.box(figsize=(20,8))

In [ ]:
# Box plot to visually show risk
combined_df.plot(subplots=True,figsize=(20, 10), title="Daily Returns",sharey=True)

daily1_std = combined_df.std()
daily1_std.head()

In [ ]:
# Calculate  the daily standard deviation of S&P TSX 60
sp_tsx_history = sp_tsx_history.std()

# Determine which portfolios are riskier than the S&P TSX 60
sp_tsx_history.head()

In [ ]:
print("All portfolios have greater Std Dev than TSX - this makes rational sense since the TSX is a broad based national index")

In [ ]:
# Calculate the annualized standard deviation (252 trading days)
annualized_std = daily1_std * np.sqrt(252)
annualized_std.head()

In [ ]:
# Calculate the correlation
correlation = combined_df.corr()
correlation
# Display de correlation matrix

In [ ]:
sns.heatmap(correlation, vmin=-1, vmax=1)

In [ ]:
# Annualized Sharpe Ratios
#first calculate std deviations 

daily1_std = combined_df.std()

daily1_std.head()

In [ ]:
sharpe_ratios = (combined_df.mean() * 252) / (daily1_std * np.sqrt(252))
sharpe_ratios.head

In [ ]:
# Visualize the sharpe ratios as a bar plot
sharpe_ratios.plot.bar(title="Sharpe Ratios")

In [ ]:
# Display sample data
AMZN_returns = AMZN_returns.pct_change()
AMZN_returns.head()

In [ ]:
# Set weights
weights = [0.25, 0.25, 0.25, 0.25]

# Use the `dot` function to sum the product each weight and the corresponding stock daily return.
portfolio_returns = custom_returns.dot(weights)
# Rename `Close` Column to be specific to this portfolio.
portfolio_returns.head()